<div class="example-container"  >
    <mat-toolbar  class="example-toolbar">
      <button mat-button [matMenuTriggerFor]="menu"><mat-icon style="margin-right: 60px;">menu</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>    <h1 class="example-app-name">Responsive App</h1>
      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <a mat-button routerLink="/about-us">About us</a>
        <a mat-button routerLink="/prices">Prices</a>
        <a mat-button routerLink="/start-page">Start page</a>
        <a mat-button routerLink="/offer">Offer</a>
        <a mat-button routerLink="/contact">Contact</a>
      </div>  
    </mat-toolbar>